<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Főoldal</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
  <table>

    
    <tr>
         <td>
          Súly
        </td>

         <td>
          Szem szín
        </td>
    </tr>

      <% for (let x of macskak) {%> 
         <tr>
                <td> <%= x.suly %></td>
                <td> <%= x.szem_szin %></td>
         </tr>
      <% } %> 

    
  </table>

</body>
</html>
