<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Főoldal</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
  
 <div class="kozep">
  <form>
    
    <input id="kereso" type="text" placeholder="Keresett szem színe">
    
  </form>
  <button>Keresés</button>
</div>
  <div class="jobb">
  <table>

    <tr>
         <th>
          Súly
        </th>

         <th class="asd">
          Szem szín
        </th>
    </tr>
<hr width="40%">
      <% for (let x of macskak) {%> 
        
         <tr>
                <td> <%= x.suly %></td>
                
                <td class="asd"> <%= x.szem_szin %></td>
              
         </tr>
      <% } %> 

    
  </table>
</div>
</body>
</html>
