.jobb{
  text-align: right;
  
}

table{
  margin:auto;
  margin-bottom: 30px;
}


.kozep{
  text-align: center;
}

button{
  margin: 20px;
 
}

input{
  text-align: center;
}


body{
  text-align: center;
}
